.container {
  display: flex;
  justify-content: center;

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--gap-x2);
  }

  .libraryRow {
    margin-bottom: var(--gap-x2);
    padding-bottom: var(--gap-x2);
    border-bottom: 1px solid var(--container-border-color);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}